.examenes-page-h1 {
  text-align: center;
  margin: 0;
  color: #17726d;
  font-size: 35px;
}

.examenes-page-h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0px;
  color: grey;
  font-size: 30px;
}

.examenes-page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.examenes-page-img,
.examenes-page-filter {
  width: 50%;
  margin: 20px;
}

.examenes-page-select,
.examenes-page-button {
  margin: 8px;
  border-radius: 8px;
  height: 30px;
  border: none;
}

.examenes-page-select {
  margin-left: 0;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
}

.examenes-page-button {
  background-color: #21ba39;
  color: var(--color-secondary-light);
}

.examenes-page-button:hover {
  cursor: pointer;
}

/*Media query para cuando la imagen se empiece a achicar*/
/*cuando eso pase, entonces ocultar la imagen y que el filtro tome todo el ancho*/

@media screen and (max-width: 670px) {
  .examenes-page-img {
    display: none;
  }

  .examenes-page-filter {
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;
  }
}
