.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.nav .active {
  background-color: #04aa6d;
}

.primerNavbar ul {
  background-color: #fff;
}

.primerNavbar li a {
  color: var(--color-secundary);
}

.segundoNavbar ul {
  background-color: var(--color-primary);
}
.primerNavbar li a {
  color: #fff;
}
