.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.nav .active {
  background-color: #04aa6d;
}

.primerNavbar ul {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.primerNavbar li a {
  color: var(--color-secondary);
}

.segundoNavbar ul {
  background-color: var(--color-primary);
}

.segundoNavbar li a{
  display:flex;
  justify-content: center;
  align-items: center;
}

.segundoNavbar li a {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}

.segundoNavbar li a span{
  font-size: 20px;
  padding-right: 5px;
}

.segundoNavbar li a img{
  width: 40px;
  height: auto;
}