.container-button-group h2 {
  text-align: center;
  color: #17726d;
  font-size: 55px;
  font-weight: 300;
  margin: 1rem 0 2rem 0;
}

.container-button-group li {
  list-style-type: none;
  width: 200px;
  height: auto;
}

.container-button-group nav{
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-button-group nav ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0;
  padding-inline-start: 0;
}

