.scroll-list-container {
  border: 1px solid #b1b1b1; /*borde contenedor */
  overflow: hidden; /* Oculta el desbordamiento de la lista */
  background-color: #f0ebeb;
  width: 100%;
  max-width: 667px;
  height: 50%;
  max-height: 365px;
}

.scroll-list {
  width: 100%;
  max-width: 667px;
  height: 100%;
  max-height: 365px;
  overflow-y: scroll; /* desplazamiento vertical */ /* altura max de la lista */
}

.scroll-list-ul {
  list-style-type: none; /* Elimina los puntos de la lista*/
}

.list-item {
  padding: 1px;
  border-bottom: 1px solid #c5bfbf; /* añade borde inferior a cada elemento de la lista */
  margin-bottom: 0px; /* espacio entre parrafos */
  text-align: start;
  line-height: 1.2;
  font-size: 12px;
}

.list-item p {
  margin: 8px 0px;
}
