:root{
  --color-primary: #17726D;
  --color-secondary: #616263;
  --color-secondary-light: #D9D9D9;
  --color-success: #21BA39;
  --color-primary-strong: #173072;
  
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}


* {
  box-sizing: border-box;
}